module {{.Name}}

go 1.13

require (
   	github.com/golang/protobuf v1.5.2
   	github.com/google/wire v0.5.0
   	github.com/jinzhu/gorm v1.9.16
    google.golang.org/grpc v1.40.0
   	kratos v1.1.15
)

replace kratos => github.com/vurtneyang/kratos v1.1.15

