package api
import (
	"context"
	"os"

    "kratos/pkg/log"
    "kratos/pkg/conf/paladin"
	"kratos/pkg/net/rpc/warden"
	"google.golang.org/grpc"
)

// AppID .
const AppID = "{{.Name}}"

type Client struct {
	MonitorClient MonitorClient
	/*********  Add Grpc Client *************/

}

type grpcDns struct {
	GrpcPort string `json:"grpc_port" toml:"{{.Name}}_grpc"`
}

// NewClient new grpc client
func NewClient(cfg *warden.ClientConfig, opts ...grpc.DialOption) (*Client, error) {
	client := warden.NewClient(cfg, opts...)
	cli := &Client{}

	clientCfg := &grpcDns{}
	err := paladin.Get("application.toml").UnmarshalTOML(&cfg)
	if err != nil {
		log.Error("[Dao.New] UnmarshalToml err:%v", err)
	}
	if clientCfg.GrpcPort == "" {
    		clientCfg.GrpcPort = os.Getenv("{{.Name}}-GRPC")
    }

	clientCfg.GrpcPort = "direct://default/" + clientCfg.GrpcPort

    log.Info("Get {{.Name}} grpc_addr:%s", clientCfg.GrpcPort)
    // todo 沿用薄荷的k8sDNS设计，后期改成服务注册和服务发现。
    conn, err := client.Dial(context.Background(), clientCfg.GrpcPort)
    if err != nil {
    	log.Error("[grpc.client] {{.Name}} grpc new client,err:%v", err)
    	panic(err)
    }

	cli.MonitorClient = NewMonitorClient(conn)
    /************ Add Client ***************/

	return cli, err
}
// 生成 gRPC 代码
//go:generate kratos tool protoc --grpc --bm api.proto
