package main

import (
	"flag"
	"kratos/pkg/net/trace/jaeger"
	"os"
	"os/signal"
	"syscall"
	"time"

	"kratos/pkg/conf/paladin"
	"kratos/pkg/log"
	"{{.ModPrefix}}{{.Name}}/internal/di"
)

func main() {
	flag.Parse()
	paladin.Init()
	slsConf := log.NewSLSCfg()
    sls, err := log.NewAliSLS(slsConf)
    if err != nil {
    	panic(err)
    }
    logConf := &log.Config{Stdout: false}
    log.Init(logConf, sls) // debug flag: log.dir={path}
	defer log.Close()
	jaeger.Init()
	log.Info("{{.Name}} start")

	_, closeFunc, err := di.InitApp()
	if err != nil {
		panic(err)
	}
	c := make(chan os.Signal, 1)
	signal.Notify(c, syscall.SIGHUP, syscall.SIGQUIT, syscall.SIGTERM, syscall.SIGINT)
	for {
		s := <-c
		log.Info("get a signal %s", s.String())
		switch s {
		case syscall.SIGQUIT, syscall.SIGTERM, syscall.SIGINT:
			closeFunc()
			log.Info("{{.Name}} exit")
			time.Sleep(time.Second)
			return
		case syscall.SIGHUP:
		default:
			return
		}
	}
}
